.index-box {
        min-width: 100%;
        height: 100vh;
        /* border: dotted #F55A00 5vw; */
        /* border: 1px solid red; */
        margin: 0vw;
        padding: 5vw ;
        position:relative; 
        background-color: #88daec;
        text-align: center;
    
}

.index-box img{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.index-box .img-box {
    margin: 0%;
    padding: 0%;
    
}

.index-box .bar{
    display: grid;
}

.index-box a {
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    background-color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}