body {
    width: 100%;
    height: 100%;
    font-family: 'Prosto One', cursive;
font-family: 'Sarabun', sans-serif;
  }


@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Sarabun:wght@300&display=swap');